body {
   background-image: url(./Image/parchment-background.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

p {
    
    font-family: $font-two;
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    body {
        min-width: 320px;
    }
}