.helper {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

   &__button {
        font-size: 25px;
        padding: 1%;
        margin: 2%;
        background-color: $button-background;
        border-radius: 20px;
        font-family: $font-one;


        &:hover {
            box-shadow: $box-shadow;
        }
    }
}


.icons {
    margin: auto;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__button {
        background-color: $button-background;
        border-radius: 100px;;
        height: 100%;
        width: 15%;
        margin: 2%;
        padding: 1%;
        font-size: 180%;
        display: flex;
        justify-content: center;

        &:hover {
            box-shadow: $box-shadow;
        }
    }
}

.fire {
    color: $fire-colour;
}

.wind {
    color: $wind-colour;
}

.wave {
    color: $wave-colour;
}

.earth {
    color: $earth-colour;
}

.clicked {
    background-color:$activeColour;
    box-shadow: $box-shadow;
}

@media only screen and (max-width: 500px) {
   .icons__button {
       min-width: 50px;
   }
}