.sudoku_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: $border-black;
    border-radius: 60px;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 5%;
    padding: 3%;
    background-color: $colour-one;

    &__tile {
        height: 100%;
        width: 100%;
        border: 1px solid $black;
        background-color: $colour-two;
        display: flex;
        justify-content: center;
        align-items: center;


        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            border-top-left-radius: 50px;
            background-color: $remainTileColour;

        }

        &:nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            border-right: $border-black;
        }

        &:nth-child(3) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: $remainTileColour;
        }

        &:nth-child(4) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            border-top-right-radius: 50px;
        }

        &:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom: $border-black;

        }

        &:nth-child(6) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom: $border-black;
            border-right: $border-black;
            background-color: $remainTileColour;

        }

        &:nth-child(7) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom: $border-black;

        }

        &:nth-child(8) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom: $border-black;
            background-color: $remainTileColour;
        }

        &:nth-child(9) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;

        }

        &:nth-child(10) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            border-right: $border-black;
            ;

        }

        &:nth-child(11) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        &:nth-child(12) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;
            background-color: $remainTileColour;

        }

        &:nth-child(13) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            border-bottom-left-radius: 50px;
        }

        &:nth-child(14) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
            border-right: $border-black;
            ;
        }

        &:nth-child(15) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 5;
            background-color: $remainTileColour;
        }

        &:nth-child(16) {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 5;
            border-bottom-right-radius: 50px;
        }

        >i {
            font-size: 60px;
        }
    }
}

.active {
    background-color: $activeColour;
}

.correct {
    background-color: $correctColour;
}

.incorrect {
    background-color: $incorrectColour;
}

@media only screen and (max-width: 500px) {
    .sudoku_grid {
        height: 350px;
        width: 350px;
    }
}