$colour-one: rgb(0, 39, 75);
$colour-two: rgb(246, 247, 240);
$remainTileColour: rgb(212, 212, 212);
$activeColour: rgb(171, 203, 233);
$correctColour: rgba(151, 243, 151, 0.548);
$incorrectColour: rgba(255, 72, 72, 0.61);