.sudoku_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 2px solid black;
  border-radius: 60px;
  height: 500px;
  width: 500px;
  margin: auto;
  margin-top: 5%;
  padding: 3%;
  background-color: #00274b;
}
.sudoku_grid__tile {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-color: #f6f7f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sudoku_grid__tile:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-top-left-radius: 50px;
  background-color: #d4d4d4;
}
.sudoku_grid__tile:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-right: 2px solid black;
}
.sudoku_grid__tile:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #d4d4d4;
}
.sudoku_grid__tile:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  border-top-right-radius: 50px;
}
.sudoku_grid__tile:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 2px solid black;
}
.sudoku_grid__tile:nth-child(6) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: #d4d4d4;
}
.sudoku_grid__tile:nth-child(7) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 2px solid black;
}
.sudoku_grid__tile:nth-child(8) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border-bottom: 2px solid black;
  background-color: #d4d4d4;
}
.sudoku_grid__tile:nth-child(9) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.sudoku_grid__tile:nth-child(10) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border-right: 2px solid black;
}
.sudoku_grid__tile:nth-child(11) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.sudoku_grid__tile:nth-child(12) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #d4d4d4;
}
.sudoku_grid__tile:nth-child(13) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  border-bottom-left-radius: 50px;
}
.sudoku_grid__tile:nth-child(14) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border-right: 2px solid black;
}
.sudoku_grid__tile:nth-child(15) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: #d4d4d4;
}
.sudoku_grid__tile:nth-child(16) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  border-bottom-right-radius: 50px;
}
.sudoku_grid__tile > i {
  font-size: 60px;
}

.active {
  background-color: aliceblue;
  box-shadow: 2px 2px 2px 2px #030344;
}

.helper {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.helper__button {
  font-size: 25px;
  padding: 1%;
  margin: 2%;
  background-color: white;
  border-radius: 20px;
}
.helper__button:hover {
  box-shadow: 2px 2px 2px #00003f;
}

.icons {
  margin: auto;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icons__button {
  background-color: white;
  border-radius: 100px;
  height: 100%;
  width: 15%;
  margin: 2%;
  padding: 1%;
  font-size: 180%;
  display: flex;
  justify-content: center;
}
.icons__button:hover {
  box-shadow: 2px 2px 2px #00003f;
}

.fire {
  color: red;
}

.wind {
  color: #792fbe;
}

.wave {
  color: #0051ff;
}

.earth {
  color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}